@{
    ViewBag.Title = "Lego";
}

<div class="jumbotron">
    <h1>¡¡Controla nuestro Robot LEGO!!</h1>
    <p class="lead">Vota la dirección hacia la que quieres dirigir el robot</p> 
</div>



<div class="container">
    <div class="col-md-6">
        <div class="row">
            <button id="forward" value="1" class="btn btn-success">&#8657;</button>
        </div>
        <div class="row">
            <button id="left" value="4" class="btn btn-success">&#8656;</button>
            <button id="right" value="2" class="btn btn-success">&#8658;</button>
        </div>
        <div class="row">
            <button id="back" value="3" class="btn btn-success">&#8659;</button>
        </div>
    </div>
    <div class="col-md-6">
        <!-- Results will be displayed here -->
        <div class="row" style="font-size: 40px;">
            <div id="sensorDistance"></div>
            <div id="first"></div>
            <div id="second"></div>
            <div id="third"></div>
            <div id="fourth"></div>
        </div>

    </div>
</div>

