@{
    ViewBag.Title = "Lego";
}

<div class="jumbotron">
    <h1>¡¡Controla nuestro Robot LEGO!!</h1>
    <p class="lead">Vota la dirección hacia la que quieres dirigir el robot</p> 
</div>



<div class="container text-center ">
    <div class="col-md-6 ">
        <div class="row">
            <button id="forward" value="1" class="btn btn-success" >&#8657;</button>
        </div>
        <div class="row">
            <button id="left" value="4" class="btn btn-success">&#8656;</button>
            <button id="right" value="2" class="btn btn-success">&#8658;</button>
        </div>
        <div class="row">
            <button id="back" value="3" class="btn btn-success">&#8659;</button>
        </div>
    </div>
    <div class="col-md-6">

        <!-- Results will be displayed here -->
        <table class="table table-bordered votesTable">
            <thead>
                <tr>
                    <th colspan="4" style="text-align: center">Votaciones</th>
                </tr>
                <tr>
                    <th>Izquierda</th>
                    <th>Adelante</th>
                    <th>Derecha</th>
                    <th>Atrás</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="votesLeft">0</td>
                    <td id="votesForward">0</td>
                    <td id="votesRight">0</td>
                    <td id="votesBack">0</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>

@section scripts {
    @*<script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>*@
    <script src="~/signalr/hubs"></script>
  
}
